.section1, .section4, .section7 {
    padding: 0px;
}

.navbar {
 height:32px; 
}

.parallax1 {
    min-height: 700px;
    padding: 200px 50px;
    background: transparent;
    background-size: cover;
}
.s1-nav {
    z-index: 2;
    position: relative;
    margin-top: -190px;
}

.navbar {
    float: right;
}

.navbar {
    padding-right: 0px ;
}

.nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: Hind, sans-serif;
    letter-spacing: 0.2em;
    padding: 05px 5px;
    color: #595959;
    display: block;
    text-decoration: none;
}

.effect-underline:after {
  content: '';
  position: relative;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.dropdown-menu {
    width: 220px;
    padding: 4px 15px 4px 20px;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: normal;
    font-family: Hind, sans-serif;
    text-align: left;
}

.s1-context {
    z-index: 2;
    position: relative;
    margin-top: 190px;
}

.s1-title {
    font-family: Muli, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #303030a4;
    letter-spacing: 10px;
}

.s1-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 52px;
    letter-spacing: 0.7em;
}

.s1-button {
    font-family: Hind, sans-serif;
    font-weight: 600;
    color: #303030c5;
    background-color: transparent;
    border-color: #101010;
    font-size: 14px;
    border: 2px solid;
    letter-spacing: 0.3em;
    padding: 10px 40px;
    margin-right: 20px;
    width: 200px;
}

.s1-button:focus, .s1-button:hover {
    color: #fff;
    background-color: #101010;
    border-color: #101010;
    text-decoration: none;
    transition-duration: 0.8s;
}

.section2 {
    background-color: rgb(245, 245, 245);
}

.s2-content {
    padding:60px 40px;
     
}
.s2-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.24em;
    color: #303030;
}

.s2-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    letter-spacing: 0em;
    color: #595959;
}

.section3 {
    background-color: #dfdfdfa2;
}

.s3-content {
    padding-top: 123px;
    padding-left: 100px;
    padding-bottom: 30px; 
}

.s3-button {
    font-family: Muli, sans-serif;
    color: #303030c5;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.24em;
    line-height: 20px;
    padding: 5px 11px;
    background-color: transparent;
    border-color: #101010;
    border: 2px solid;
}

.s3-button:focus, .s3-button:hover {
    color: #fff;
    background-color: #101010;
    border-color: #101010;
    text-decoration: none;
    transition-duration: 0.8s;
}

.s3-title {
    font-size: 26px;
    line-height: 1.5;
    font-family: Hind, sans-serif;
    letter-spacing: 0.38em;
    color: #303030;
}

.s3-sub {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #595959;
}

.s3-img {
    padding-top: 60px;
    padding-bottom: 40px; 
    padding-left: 20px;
}

.parallax2 {
    min-height: 330px;
    padding: 130px 40px;
    background: transparent;
    background-size: cover;
}

.s4-context, .s7-content {
    z-index: 2;
    position: relative;
}


.s4-title {
    font-size: 26px;
    line-height: 1.5;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    font-family: Hind, sans-serif;
    letter-spacing: 0.38em;
    z-index: 2;

}

.s4-img {
    padding: 10px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #3b3b3b8e;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect h2 {
    opacity: 0;
}

.hovereffect:hover h2 {
    opacity: 1;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.s5-title {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.5;
    font-family: Hind, sans-serif;
    letter-spacing: 0.38em;
    text-align: inherit;
    color: #303030;
    padding-top: 45px;
}

.s5-sub {
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #333333;
    line-height: 1.857;
    padding-top: 20px;
    padding-bottom: 40px;
}

.effect-shine {
    text-decoration: none;
    color: #333333;
}

.s5-img{   
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.hovereffect2 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect2 .overlay2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background-color: rgb(53, 52, 52);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);

}

.hovereffect2 img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect2:hover img {
    -webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect2 h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect2 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect2 a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect2 p.icon-links a {
	float: right;
	color: #afaeae;
	font-size: 1.4em;
}

.hovereffect2:hover p.icon-links a:hover,
.hovereffect2:hover p.icon-links a:focus {
	color: #d6d6d6;
}

.hovereffect2 h2,
.hovereffect2 p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect2 p.icon-links a i:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hovereffect2:hover .overlay2,
.hovereffect2:hover h2,
.hovereffect2:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect2:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect2:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect2:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect2:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

a.effect-shine:hover {
    text-decoration: none;
    color: #333333;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

.section6 {
    padding: 0;
    background-color:rgb(245, 245, 245);
}

.s6-img {
    border-radius: 35px;
}

.clients {
    padding-top: 40px;
}

.s6-title {
    font-style: normal;
    font-weight: 300;
    font-family: Hind, sans-serif;
    letter-spacing: 0.38em;
    line-height: 1.5;
    font-size: 32px;
    color: #303030;
    padding-top: 80px;
}

.s6-sub {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    letter-spacing: 0em;
    color: #595959;
    padding: 25px;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}

.s6-footer {
    margin-top: -20px;
    margin-bottom: 25px;
}

.name {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    color: #595959;
}

.name2 {
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    color: #595959;
}


.parallax3 {
    /* min-height: 400px; */
    padding: 100px 50px;
    background: transparent;
    background-size: cover;
}

.s7-text {
    background-color: rgba(255, 255, 255, 0.863);
    padding: 120px 80px;
}

.s7-title {
    font-family: "Hind", Sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.27em;
    font-style: normal;
    color: #303030;
}

.s7-sub {
    color: #474747;
    font-family: "Muli", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0em;
}

.s7-btn {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: #d8d8d8;
    font-family: "Muli", Sans-serif;
    border-radius: 3px 3px 3px 3px;
    border-color: #303030;
    padding: 10px 20px;
    margin-right: 20px;
    width: 200px;
    text-decoration: none;
    display: block;
} 


.s7-btn:focus, .s7-btn:hover {
    color: #fff;
    background-color: #101010;
    border-color: #101010;
    text-decoration: none;
    transition-duration: 0.8s;
}

.footer {
    min-height: 200px;
    padding-top: 40px; 
}

.footer-list{
    padding-inline-start: 0px;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 26px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    letter-spacing: 0em;
    color: #595959;
}

.footer-name {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}